# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Install powershell-devops Module
      # You may pin to the exact commit or the version.
      # uses: powershell-devops/powershell-devops@02eb25c9e71d654cf5e82f4af4b09cd7ba31054e
      uses: powershell-devops/powershell-devops@v0.2.0    
    - name: Ensure browsers are installed
      run: pwsh $${{ github.workspace}}/PlaywrightFrameworkV1/PlaywrightFrameworkV1/TestFramework/bin/Debug/net9.0/playwright.ps1 install --with-deps
    - name: Test
      run: dotnet test --no-build --verbosity normal